.navBar {
    display: flex;
    position: static;
    top: 0px;
    height: 110px;
    width: 100%;
    background-color: #c5c1bb;
    align-items: center;
}

.icon {
    margin: auto auto auto 20px;
    opacity: 0;
    animation: 0.4s ease-in-out appear forwards;
}

.iconHidden {
    margin: auto 20px auto auto;
    visibility: hidden;
}

.icon > .line1, .line2, .line3 {
    width: 34px;
    height: 4px;
    display: flex;
    flex-direction: column;
    background-color: #00203f;
    margin: 7px 5px 7px 5px;
    transition: 0.3s;
}

.icon:hover > .line1, .icon:hover > .line2, .icon:hover > .line3 {
    background-color: #fafafa;
}

.iconHidden > .line1, .line2, .line3 {
    width: 34px;
    height: 4px;
    margin: 7px 5px 7px 5px;
}

.openClose > .line1 { transform: rotate(45deg) translate(8px, 8px); }
  
.openClose > .line2 { opacity: 0; }
  
.openClose > .line3 { transform: rotate(-45deg) translate(8px, -8px); }

.navBar > #logo {
    font-size: 0;
    opacity: 0;
    animation: 0.4s ease-in-out appear forwards;
}

.navBar > #logo > img {
    height: 100px;
}

/* /////////////// SIDE MENU \\\\\\\\\\\\\\\ */
/* /////////////// SIDE MENU \\\\\\\\\\\\\\\ */

.navBar > #menu {
    display: none;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 110px;
    overflow-y: auto;
    background-color: #fafafa;
    box-shadow: 6px 0 15px 0 rgba(0,0,0,0.1);
    animation: 0.4s ease-in-out appear forwards;
}


.navBar > #menu > a {
    color: #00203f;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 25px 175px 25px 27px;
    text-decoration: none;
    border-bottom: 1px solid #c5c1bb;
}

.navBar > #menu > a:hover {
    background-color: #c5c1bb;
    color: #fafafa;
    cursor: pointer;
    animation: 0.4s menuItem;
}

#noborder {
    border: none !important;
}

/* /////////////// ANIMATIONS \\\\\\\\\\\\\\\ */
/* /////////////// ANIMATIONS \\\\\\\\\\\\\\\ */

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes menuItem {
    from {
        background-color: rgb(197, 193, 187, 0);
        color: rgb(250, 250, 250, 0);
    }
    to {
        background-color: rgb(197, 193, 187, 1);
        color: rgb(250, 250, 250, 1);
    }
}

/* /////////////// SCREENSIZE ADJUSTMENTS \\\\\\\\\\\\\\\ */
/* /////////////// SCREENSIZE ADJUSTMENTS \\\\\\\\\\\\\\\ */

@media screen and (max-width: 1080px)
{
    .navBar {
        height: 150px;
    }
    
    .icon {
        margin: auto auto auto 25px;
    }
    
    .iconHidden {
        margin: auto 25px auto auto;
    }
    
    .icon > .line1, .line2, .line3 {
        width: 40px;
        height: 6px;
        margin: 8px 6px 8px 6px;
    }

    .openClose > .line1 { transform: rotate(45deg) translate(10px, 10px); }
      
    .openClose > .line3 { transform: rotate(-45deg) translate(10px, -10px); }

    .navBar > #logo > img {
        height: 140px;
    }

    .navBar > #menu {
        width: 100%;
        height: calc(100% - 150px);
        top: 150px;
    }
    
    .navBar > #menu > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 40px;
        font-weight: normal;
        letter-spacing: 2px;
        flex-grow: 3;
    }
}